<h1>My Groups</h1>
<form action = '/groups/create' data-remote = 'true'>
	<input id = 'new-group-name' type = 'text' placeholder = 'Group Name' name = 'group[name]'>
	<input type = 'submit' class = 'btn'>
</form>
<div id="groups-list">
	<p><%= render @groups.reverse %></p>
</div>
  <%= link_to 'Create a Group', new_group_path, :class => 'btn btn-mini btn-success' %>
