<script type="text/javascript">
	$(document).ready(function () {
		$('#new-post').submit(function () {
			$('#post-submit-button').attr("disabled", true);
		});
	});
</script>
<div>
	<h1> <%= @group.name %> </h1>
	<% if (!@group.users.include? current_user) %>
	  	<form id="join-group" action = <%= join_group_path(@group) %> data-remote = 'true'>
			<input id = 'join-group-password' type = 'text' placeholder = 'Password' name = 'password'>
			<input id='post-submit-button' type = 'submit' class = 'btn btn-small btn-info' value="Join">
		</form>
	<% end %>
</div>
<div>

	<form id="new-post" action = '/posts/create' data-remote = 'true' class="center">
		<span>
			<input id = 'new-post-name' type = 'text' placeholder = 'Post Name' name = 'post[name]'></input>
			<br>
			<textarea id = 'new-post-body' placeholder = 'Body' name = 'post[body]'></textarea>
		</span>
		<input type = 'hidden' value = <%= @group.id %> name = 'group_id'></input>
		<span>
			<input id='post-submit-button' type = 'submit' class = 'btn' value="Create Post"></input>
		</span>
	</form>

	<div id="posts-list">
		<%= render @group.posts.reverse %>
	</div>
	
</div>