
<%= render @posts %>
<div>
  <h1> List of Existing Groups</h1>
  <ul>
    <% @groups.each do |group| %>
      <li> <%=link_to group.name, group_path(group) %> </li>
    <% end %>
  <ul>
  <%= link_to 'My Groups', groups_path, :class => 'btn btn-mini btn-info' %>
  <%= link_to 'Create a Group', new_group_path, :class => 'btn btn-mini btn-success' %>
</div>