<div class='post'>
  <p>
  	<%= link_to post.name, edit_post_path(post) %>
  	Posted <%= time_ago_in_words(post.created_at) %> ago.
  </p>
  <p>
    <% if post.tags.any? %>
      tags: <br>
      <% post.tags.each do |tag| %>
        <%= tag.name %>
        <br>
      <% end %>
    <% end %>
  </p>
  <p>
    <%= link_to "Add a Tag", new_tag_path %>
  </p>
</div>