<script>

$(document).ready(function(){

var timeOut;
var innnerTimeOut1;
var innnerTimeOut2;

  $('#sign-in').hover(function(){
    clearInterval(timeOut);
    clearInterval(innnerTimeOut1);
    clearInterval(innnerTimeOut2);
    that = $(this);

    that.animate({
      width: "475px"
    }, 500);

    timeOut = setTimeout(function(){

      $('#session_form').show(200);
      $('#session_form').animate({
        width: "350px"
      }, 400);

      $('#session_name').show();
      $('#session_name').animate({
        width: "175px",
        display: 'inline'
      }, 400);

      $('#session_password').show();
      $('#session_password').animate({
        width: "175px",
        display: 'inline'
      }, 400);
    }, 100);


  });

  $('#sign-in').mouseleave(function(){
    clearInterval(timeOut);
    clearInterval(innnerTimeOut1);
    clearInterval(innnerTimeOut2);
    hideSignIn();
  });

  function hideSignIn () {
    that = $('#sign-in');

      timeOut = setTimeout(function(){

        if (!($("#session_name").is(":focus") || $("#session_password").is(":focus") || $('#session_form').is(":focus"))) { 

          innnerTimeOut1 = setTimeout(function(){ 
              that.animate({
                width: "75px"
              }, 500);

            }, 100);


            $('#session_form').animate({
              width: "0px"
            }, 500);
            $('#session_name').animate({
              width: "0px"
            }, 500);
            $('#session_password').animate({
              width: "0px"  
            }, 500);
          innnerTimeOut2 = setTimeout(function(){
             $('#session_form').hide();
             $('#session_name').hide();
             $('#session_password').hide();
            }, 500);

        }

      }, 1000);

    }

});

</script>


<div id="header">
  <div class="navbar navbar-fixed-top">
    <div class="container-fluid">

      <a class="brand" href="/">
        Due
      </a>

      <ul class="nav pull-right">
        <li>
          <form class="navbar-search pull-right">
            <input type="text" class="search-query" placeholder="Search">
          </form>
        </li>

        <li class="divider-vertical"></li>

        <li id="sign-in">
          <%= form_for(:session, url: sessions_path) do |f| %>

          <%= f.text_field  :name %>
          <%= f.password_field  :password %>

          <%= f.submit :value => 'Sign In', :class => 'btn', :id => 'signIn' %>

          <% end %>
        </li>

        
      </ul>
    </div>
  </div>
</div>