<div id="header" class="navbar navbar-fixed-top">
  <div class="container-fluid">

    <a class="brand" href="/">
      Due
    </a>

    <ul class="nav pull-right">
      <li class="">
        <a class="nav-item" href="/groups"><i class="icon-reorder"></i> Search </a>
      </li>

      <li class="divider-vertical"></li>

      <li class="">
        
          <a href="/login">
              Sign In
          </a>
        
      </li>

      
    </ul>
  </div>
</div>